<%= javascript_include_tag "home" %>
<div class="jumbotron">
	<h1>Donation Party!</h1>
	<p class="lead">Invite friends to donate a randomly selected amount (up to $10) to charity and one lucky winner will receive something awesome* from Amazon!</p>
</div>

</div>
<div class="highlight">
  <div class="container-narrow">

  <form action="<%= new_round %>" method="POST">
    <ul class="charities">
      <li class="charity" title="Electronic Frontier Foundation">
        <label><input type="radio" name="charity" value="eff" /><img src="<%= asset_path "eff.png" %>" /> <span>EFF</span></label>
      </li>
      <li class="charity" title="Childs Play">
        <label><input type="radio" name="charity" value="childsplay" /><img src="<%= asset_path "childsplay.png" %>" /> <span>Childs Play</span></label>
      </li>
      <li class="charity" title="Red Cross">
        <label><input type="radio" name="charity" value="redcross" /><img src="<%= asset_path "redcross.png" %>" /> <span>Red Cross</span></label>
      </li>
      <li class="charity" title="Oxfam">
        <label><input type="radio" name="charity" value="oxfam" /><img src="<%= asset_path "oxfam.png" %>" /> <span>Oxfam</span></label>
      </li>
      <li class="charity" title="Greenpeace">
        <label><input type="radio" name="charity" value="greenpeace" /><img src="<%= asset_path "greenpeace.png" %>" /> <span>Greenpeace</span></label>
      </li>
    </ul>

    <div class="start-party">
      <input type="submit" class="btn btn-large btn-success" value="Start the party!" />
    </div>
  </form>

  </div>
</div>
<div class="container-narrow">
