<p id="notice"><%= notice %></p>

<p>
  <b>Charity name:</b>
  <%= @charity.name %>
</p>

<p>
  <b>Image name:</b>
  <%= @charity.image_name %>
</p>

<%= link_to 'Edit', edit_admin_charity_path(@charity) %> |
<%= link_to 'Back', admin_charities_path %>
